#Data Types and Structures

1. What are data structures, and why are they important
  ->Data structure is the way we organize the data to store , maniculate and acces the data.

2. Explain the difference between mutable and immutable data types with examples  
  ->Mutable Data Types: Once we can create the object, we will change the content based on our requirments.
   ->The address will be change after the change's.
   ->Ex:List,set
  ->Immutable Data Types: Once we can create the object ,we will not change the content.
  ->If we change the content the new object will created with different address.
  ->Ex:Tuple

3. What are the main differences between lists and tuples in Python
  ->If we want to represent group of values in a single entity ,duplicates are allowed,hetrogenious objects are allowed and mutable then we should go for List
  ->List is Mutable,Dynamic.
  ->List is not used for dictionary key's
  ->If we want to represent group of values in a single entity ,hetrogenious objects are allowed ,duplicates are allowed and it is immutable
  ->Tuple is Immutable,not Dynamic
  ->Tuple is used for dictionary key's

4. Describe how dictionaries store data
  ->If we want to represent values as key-value pairs then we should go for dictionary
 ->dictionary data can be stored in curly brackets in key-value pairs.
 ->dictionary keys are immutable
 ->dictionary values are mutable

5. Why might you use a set instead of a list in Python
 ->If we want to represent group of values in single entity,duplicates are not allowed,hetrogenous objects are allowed

6. What is a string in Python, and how is it different from a list
  ->String can be represented as single and double quotes.
  ->String is a Immutable
  ->List is Mutble.

7. How do tuples ensure data integrity in Python
  -> tuple can ensure the data is inside the parathesis and it is mutable
  ->Tuple can have duplicate values and indexing is possible.

8.  What is a hash table, and how does it relate to dictionaries in Python
 ->hash table is datastructure quick access of data ,deleting and retrieval of data.
 ->If we want to represent the data as key-value pairs,were keys doesn't allow duplicates and values are allowed duplicate.keys are use's immutable because of keys can't accept the duplicate.

9. Can lists contain different data types in Python
 ->Yes list can store the hetrogenous objects.i,e string,bool,complex,int,float

10.  Explain why strings are immutable in Python
  ->Strings are immutable because of strings are inbuilt data type's.String can store one value to one variable.

11.  What advantages do dictionaries offer over lists for certain tasks
  ->Dictionaries excel over lists for tasks involving quick data lookups and storing data as key-value pairs, offering faster retrieval and more organized data representation.

12.  Describe a scenario where using a tuple would be preferable over a list
  ->Tuple can used over where the data is fixed ,we can go with tuple.
  ->Ex:Employee Id,pancard Number,etc
  ->Dictionaries keys are used Tuple only .It is because of the keys are immutable.

13.  How do sets handle duplicate values in Python
  ->If we want to represent the group of unique values in a single entity then we should go for set.

14. How does the “in” keyword work differently for lists and dictionaries
  ->'in' keyword is membership operator it is used to check the values present in the data.In list only values are present but in dictionary values are present as key-value pair.

15. Can you modify the elements of a tuple? Explain why or why not
 ->No we can't modify the elements in tuple.if we modify elements the new tuple object will be created.Tuple is immutable.

16. What is a nested dictionary, and give an example of its use case
  ->A nested dictionary is a dictionary where the values are themselves dictionaries, allowing for a hierarchical data structure.

17. Describe the time complexity of accessing elements in a dictionary
  ->Accessing elements in a dictionary (or hash map) by key has an average time complexity of O(1), meaning it takes constant time, regardless of the dictionary's size.
  
18.  In what situations are lists preferred over dictionaries
  ->Lsts are preferred over dictionaries when the order of items is crucial, when you need to store a sequence of elements, or when you primarily need to access elements by their position (index) rather than a key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval

20. Explain the difference between a list and a dictionary in terms of data
retrieval.
 ->List: List is mutable,it can stores the values,it can represented with in square brackets.
 ->Dictionary: Dictionary keys are immutable,Dictionary values are mutable,it can be represented in curly braces as key-value pairs.

In [ ]:
# Write a code to create a string with your name and print it
name = "Seelam Yashwanth Anjaneya Reddy"
print(name)

Seelam Yashwanth Anjaneya Reddy

In [ ]:
# Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string
print("I like apple".replace("apple","orange"))

I like orange

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it
numbers = [1,2,3,4,5]
for i in numbers:
  print(i)

1
2
3
4
5

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1,2,3,4]
numbers.append(10)

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1,2,3,4,5]
numbers.remove(3)

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
data = ['a','b','c','d']
data[1]

'b'

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10 ,20 ,30, 40,50]
numbers.reverse()

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100 , 200 ,300)
print(numbers)

(100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
data = ('red', 'green', 'blue', 'yellow')
data[1:]

('green', 'blue', 'yellow')

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10 , 20, 5, 15)
min(numbers)

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
animals.index("cat")

1

In [ ]:

# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple" , "mango" , 'kiwi')
'kiwi' in fruits

True

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
alphabets = {'a' , 'b' , 'c', 'd'}
print(alphabets)

{'b', 'd', 'a', 'c'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
numbers

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1 , 2, 3}
set2 = {2, 3, 4}
set1 & set2

{2, 3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
details = {"name":"Yashwanth Reddy Seelam","age":27, "city":"Sathupally"}
details

{'name': 'Yashwanth Reddy Seelam', 'age': 27, 'city': 'Sathupally'}

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
details = {'name': 'John', 'age': 25}
details.update({"country":"USA"})

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
details = {'name': 'Alice', 'age': 30}
details.get('name')

'Alice'

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
details.pop('name')

'Bob'

In [ ]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
details = {'name': 'Alice', 'city': 'Paris'}
if 'city' in details.keys():
  print("It is available")

It is available

In [ ]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all
list_numbers = [10,20,30,40,50]
tuple_numbers = (10,20,40,30,40)
dictionary_details= {1:"yashwanth",2:"Sravanthi",3:"Meenaskhi"}
print(list_numbers)
print(tuple_numbers)
print(dictionary_details)

[10, 20, 30, 40, 50]
(10, 20, 40, 30, 40)
{1: 'yashwanth', 2: 'Sravanthi', 3: 'Meenaskhi'}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)
list_numbers = [30,52,87,10,77]
list_numbers.sort(reverse=True)
print(list_numbers)

[87, 77, 52, 30, 10]

In [ ]:
 #Write a code to create a list with strings and print the element at the third index.
 name = "Seelam Yashawanth Anjaneaya Reddy"
 list_names=name.split()
 list_names[3]

'Reddy'

In [ ]:
# Write a code to combine two dictionaries into one and print the result.
dictionary1 ={'name':"Seelam Yashwanth","number": 8523083333}
dictionary2 = {"city": "Sathupally","state":"Telangana"}
dictionary1.update(dictionary2)
dictionary1

{'name': 'Seelam Yashwanth',
 'number': 8523083333,
 'city': 'Sathupally',
 'state': 'Telangana'}

In [ ]:
# Write a code to convert a list of strings into a set.
list_names=["Yashwanth","Sravanthi","Sarina","Poojitha"]
set_names=set(list_names)
print(set_names)

{'Sarina', 'Poojitha', 'Sravanthi', 'Yashwanth'}